:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    text-decoration: none !important;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 319px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  * {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  
  }
  
  body {
    background-color: #23252c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 317px;
    /* background-color: red; */
    height: fit-content;
  }
  
  .main {
    background-color: #1a1b21;
    display: flex;
    flex-direction: column;
    height: 92%;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-around; */
  }
  
  .info--profile-pic > img {
    padding-top: 25%;
    object-fit: cover;
    width: 100%;
    height: 60vh;
    border-radius: 10px 10px 0 0;
  }
  
  .info--basic-info > .name {
    color: white;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
  }
  
  .info--basic-info > .title {
    color: #f3bf99;
    font-size: 12.8px;
    margin-top: 6px;
    font-weight: 400;
  }
  
  .info--basic-info > .website {
    color: #f5f5f5;
    font-size: 10.24px;
    margin-top: 8.81px;
    font-weight: 400;
  }
  
  .info--action {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 15px;
  }
  
  .info--action > button {
    width: 115px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    font-size: 14px;
    gap: 9.6px;
    border-radius: 6px;
  }
  
   .linkedin-btn {
    background-color: #5093e2;
    color: white;
    border: none;
  }
  
   .email-btn {
    background-color: white;
    color: #1e1f26;
    border: 1px solid #d1d5db;
  }
  
  .about {
    margin-top: 33px;
  }
  .website a{
    cursor: pointer;
  }
  .interests {
    margin-top: 15px;
    margin-bottom: 30px;
    height: fit-content;
  }
  
  .about,
  .interests {
    padding: 0 35px;
  }
  
  .section-title {
    color: #f5f5f5;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .section-content {
    color: #dcdcdc;
    font-size: 10.24px;
    line-height: 150%;
    font-weight: 400;
  }
  
  .footer {
    background-color: #161619;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 0px 0px 10px 10px;
    flex-grow: 1;
    cursor: pointer;
  }
  
  .footer-icons {
    width: 25px;
    height: 25px;
  }